.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.filme-info {
    display: flex;
    flex-direction: column;
    width: 97%;
    max-width: 900px;
}

.filme-info article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFF;
    margin: 15px;
    padding: 15px;
}

.filme-info img {
    border-radius: 20px;
}

.filme-info button {
    margin: 5px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    outline: none;
    padding: 12px;
    transition: all 0.5s;
}

.filme-info button:hover {
    background-color: brown;
    color: white;
}

.filme-info a {
    text-decoration: none;
    color: black;
}

.filme-info a:hover {
    color: white;
}